<p id="notice"><%= notice %></p>

<h1>Listing Belongs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @belongs.each do |belong| %>
      <tr>
        <td><%= belong.name %></td>
        <td><%= link_to 'Show', belong %></td>
        <td><%= link_to 'Edit', edit_belong_path(belong) %></td>
        <td><%= link_to 'Destroy', belong, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Belong', new_belong_path %>
