<h1>DashBoard#index</h1>
<h2>ユーザ一覧</h2>
<%= link_to '新規登録', new_user_registration_path %>
<%= link_to 'ログアウト', destroy_user_session_path ,{method: :DELETE} %>
<table>
  <thead>
  <tr>
    <th>id</th>
    <th>username</th>
    <th>belong_id</th>
    <th>belong_name</th>
    <th>belong_name_find</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.belong_id %></td>
        <td><%= user.belong_name %></td>
        <td><%= Belong.find(user.belong_id).name %></td>
        <td><%= link_to 'Show', edit_user_registration_path(user) %></td>
        <td><%= link_to 'Edit', edit_user_registration_path(user) %></td>
        <td><%= link_to 'Destroy', edit_user_registration_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<h2>所属一覧</h2>
<%= link_to '新規登録', new_belong_path %>
<table>
  <thead>
  <tr>
    <th>id</th>
    <th>name</th>
  </tr>
  </thead>
  <tbody>
  <% @belongs.each do |belong| %>
      <tr>
        <td><%= belong.id %></td>
        <td><%= belong.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h2>selectメソッドサンプル</h2>
<%= link_to 'selectメソッド', 'http://railsdoc.com/references/select', {:target => '_blank'} %>
<h3>パターン１：form_tagを使ってリスト内容を固定値で定義</h3>
<%= form_tag( {controller: :dash_board, action: :index }, id: :fm, class: :search) do %>
    <%= select :belong, :id, ['1','2','3'], {include_blank: '選択してください'}, class: 'pub' %>
<% end %>

<h2>collection_selectメソッドサンプル</h2>
<%= link_to 'collection_selectメソッド', 'http://railsdoc.com/references/collection_select', {:target => '_blank'} %>
<h3>パターン１：form_tagを使ってリスト内容をモデルから取得したコレクション(全件)で定義</h3>
<%= form_tag( {controller: :dash_board, action: :index }, id: :fm, class: :search) do %>
    <%= collection_select :selected_belong, :name, Belong.all , :name, :name, {include_blank: '選択してください'}, class: 'pub' %>
<% end %>

<h3>パターン２：form_tagを使ってリスト内容をモデルから取得したコレクション(idが１のレコード)で定義</h3>
<%= form_tag( {controller: :dash_board, action: :index }, id: :fm, class: :search) do %>
    <%= collection_select :selected_belong, :name, Belong.where('id =?', 1) , :name, :name, {include_blank: '選択してください'}, class: 'pub' %>
<% end %>

<h3>パターン３：form_forを使ってリスト内容をモデルから取得したコレクション(全件)で定義</h3>
<%= form_for(@belong) do |f| %>
    <%= f.collection_select :name, @belongs, :name, :name , {include_blank: '選択してください'}, class: 'pub'%>
<% end %>

<h3>パターン４：form_forを使ってリスト内容をモデルから取得したコレクション(全件)で定義</h3>
<%= form_for(@belong) do |f| %>
    <%= f.collection_select :name, Belong.all, :name, :name , {include_blank: '選択してください'}, class: 'pub'%>
<% end %>

<h3>パターン５：form_forを使ってリスト内容をモデルから取得したコレクション(idが１のレコード)で定義</h3>
<%= form_for(@belong) do |f| %>
    <%= f.collection_select :name, @selected_belong, :name, :name , {include_blank: '選択してください'}, class: 'pub'%>
<% end %>

<h3>パターン６：form_forを使ってリスト内容をモデルから取得したコレクション(idが１のレコード)で定義</h3>
<%= form_for(@belong) do |f| %>
    <%= f.collection_select :name, Belong.where('id =?', 1), :name, :name , {include_blank: '選択してください'}, class: 'pub'%>
<% end %>

<br />
<%= link_to 'ソースコード', 'https://github.com/k2works/rails-auth-sample/tree/rails-auth-sample-5', {:target => '_blank'} %>